html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    overflow-x: hidden;
}

/*Common CSS*/
.font-openSan {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.sec {
    position: relative;
    display: flex;
}
.sec__head {
    text-align: center;
}
.sec__ttl {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.sec__ttl:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sec__txt {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.sec__des {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

/*Header*/
.header.isFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

}
.header {
    height: 90px;
    background: #fff;
    display: flex;
    align-items: center;
    transition: all .3s;
}
.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 125px;
}
.menu {
    display: flex;
}
.menu__item {
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    transition: all .3s;
}
.menu__item:hover {
    color: #F05B95;
}

/*Visual*/
.visual{
    width: 100%;
    height: 470px;
    background-image: url('../images/visual_why.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.visual__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visual__ttl {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-top: 80px;
    line-height: 1;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
}

/*Dream*/
.dream {
    padding: 70px 0;
}
.dreamList {
    margin: 70px auto 0;
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.dreamList h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px
}

.dreamList p {
    font-size: 40px;
    margin-top: 5px;
    font-weight: bold;
    color: #F05B95;
}
.dreamBg {
    position: absolute;
    bottom: 210px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: -1;
}
.dreamBg__shortLine {
    width: 50px;
    height: 2px;
    background: #999;
    display: block;
}
.dreamBg__longLine{
    width: 100%;
    height: 2px;
    background: #999;
    display: block;
    margin-top: 50px;
    position: relative;
}
.dreamBg__longLine:before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    top: -7px;
    left: calc(50% - 200px);
}
.dreamBg__longLine:after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    top: -7px;
    right: calc(50% - 200px);
}


/*Marketing*/
.marketing {
    height: 770px;
    padding: 70px 0;
    background-image: url('../images/creative.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.marketing .sec__ttl,
.marketing .sec__txt {
    color: #fff;
}
.marketing .sec__ttl:after {
    background: #fff;
}
.marketing__line {
    position: absolute;
    width: 100%;
    bottom: 255px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
}
.marketingList {
    max-width: 1200px;
    margin: 378px auto 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.marketingList__item {
    width: 25%;
}
.marketingList__img {
    margin-bottom: 10px;
}

.marketingList__ttl {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.marketingList__txt {
    color: #fff;
    font-size: 18px;
}
.marketingList__line {
    width: 20px;
    height: 1px;
    background: #fff;
    display: block;
    margin: 10px auto;
}
.marketingList__des {
    color: #fff;
    font-size: 14px;
}
/*Why*/
.why {
    padding: 50px 0;
}
.whyFlame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.whyFlame:last-child {
    margin-bottom: 0;
}

.whyFlame:nth-child(2n) {
    flex-direction: row-reverse;
}
.whyFlame__ttl {
    font-size: 70px;
    line-height: 1.2;
    font-weight: bold;
    color: #F05B95;
}
.whyFlame__txt {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 15px 0
}
.whyFlame__des {
    font-size: 16px;
    line-height: 1.6;
}
/*Conference*/
.conference {
    background-image: url('../images/conference_bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.conferenceFlame__content {
    max-width: 700px;
}
.conferenceFlame__ttl {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
}
.conferenceFlame__txt {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
.conferenceFlame__tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.conferenceFlame__tags p {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
}
.conferenceFlame__button {
    margin-top: 20px;
    width: 150px;
    padding: 10px 0;
    display: block;
    color: #fff;
    background: #F05B95;
    font-size: 16px;
    text-align: center;
}
.conferenceFlame__button:hover {
    opacity: .7;
}

/*Contact*/
.contact {
    padding: 100px 0;
}
.contact__email {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.contact__button {
    margin: 20px auto 0;
    border: 1px solid #333;
    border-radius: 4px;
    width: 150px;
    padding: 10px 0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #000;
}
.contact__button:hover {
    opacity: .7;
}
/*Plane*/
.plane {
    padding: 50px 0;
    background-image: url('../images/bot_info.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.plane__main {
    text-align: center;
}
.plane__ttl {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.plane__txt {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.plane__button {
    margin: 20px auto 0;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 150px;
    padding: 10px 0;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.plane__button:hover {
    opacity: .7;
}
/*Footer*/
.footer {
    padding: 50px 0;
}
.footer__main {
    text-align: center;
}
.footer__copyright {
    margin-top: 15px;
    font-size: 14px;
}
.footerSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.footerSocial img {
    width: 50px;
}

/*quickRequest*/
.quickRequest {
    position: fixed;
    z-index: 99;
    bottom: 50px;
    right: 30px;
}
.quickRequest img {
    width: 100px;
}