html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/*Common CSS*/
.font-openSan {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.sec {
    position: relative;
    display: flex;
}
.sec__head {
    text-align: center;
}
.sec__ttl {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.sec__ttl:after {
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sec__txt {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.sec__des {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

/*Header*/
.header {
    height: 90px;
    display: flex;
    align-items: center;
}
.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 125px;
}
.menu {
    display: flex;
}
.menu__item {
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    transition: all 0.3s;
}
.menu__item:hover {
    color: #f05b95;
}

/*Visual*/
.visual {
    width: 100%;
    height: 470px;
    background-image: url("../images/visual_why.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
.visual__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visual__ttl {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-top: 80px;
    line-height: 1;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
}

/*Dream*/
.dream {
    padding: 70px 0;
}
.dreamList {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.dreamList h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.dreamList p {
    font-size: 40px;
    margin-top: 5px;
    font-weight: bold;
    color: #f05b95;
}
/*Marketing*/
.marketing {
    height: 900px;
    padding: 70px 0;
    background-image: url("../images/creative.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.marketing .sec__ttl,
.marketing .sec__txt {
    color: #fff;
}
.marketing .sec__ttl:after {
    background: #fff;
}
/*Why*/
.why {
    padding: 50px 0;
}
.whyFlame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.whyFlame:last-child {
    margin-bottom: 0;
}

.whyFlame:nth-child(2n) {
    flex-direction: row-reverse;
}
.whyFlame__ttl {
    font-size: 70px;
    line-height: 1.2;
    font-weight: bold;
    color: #f05b95;
}
.whyFlame__txt {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}
.whyFlame__des {
    font-size: 16px;
    line-height: 1.6;
}
/*Conference*/
.conference {
    background-image: url("../images/conference_bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.conferenceFlame__content {
    max-width: 700px;
}
.conferenceFlame__ttl {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
}
.conferenceFlame__txt {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
.conferenceFlame__tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.conferenceFlame__tags p {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
}
.conferenceFlame__button {
    margin-top: 20px;
    width: 150px;
    padding: 10px 0;
    display: block;
    color: #fff;
    background: #f05b95;
    font-size: 16px;
    text-align: center;
}
.conferenceFlame__button:hover {
    opacity: 0.7;
}

/*Contact*/
.contact {
    padding: 100px 0;
}
.contact__email {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.contact__button {
    margin: 20px auto 0;
    border: 1px solid #333;
    border-radius: 4px;
    width: 150px;
    padding: 10px 0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #000;
}
.contact__button:hover {
    opacity: 0.7;
}
/*Plane*/
.plane {
    padding: 50px 0;
    background-image: url("../images/bot_info.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.plane__main {
    text-align: center;
}
.plane__ttl {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.plane__txt {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.plane__button {
    margin: 20px auto 0;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 150px;
    padding: 10px 0;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.plane__button:hover {
    opacity: 0.7;
}
/*Footer*/
.footer {
    padding: 50px 0;
}
.footer__main {
    text-align: center;
}
.footer__copyright {
    margin-top: 15px;
    font-size: 14px;
}
.footerSocial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.footerSocial img {
    width: 50px;
}

/*quickRequest*/
.quickRequest {
    position: fixed;
    z-index: 99;
    bottom: 50px;
    right: 30px;
}
.quickRequest img {
    width: 100px;
}
